/****************************************/

/*************** GENERAL ****************/

/****************************************/

html,
body {
	font-family: sans-serif;
	color: white;
	height: auto;
	background-color: #202020;
}

h2,
figcaption {
	text-align: center;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	align-items: center;

}

.container-fluid {
	/*height: 200vh;*/
}

.row {
	align-items: center;
	justify-content: center;
}

[class*="col-"] {
	height: 100%;
	padding: 0;
}

.inactive {
	opacity: 0;
	pointer-events: none;
}

.blue {
	color: blue;
}

.blue-themed {
	color: #8a6d3b;
	font-weight: 700;
}

.panel {
	margin-bottom: 0;
	-moz-box-shadow: 1px 2px 10px 3px #656565;
	-webkit-box-shadow: 1px 2px 10px 3px #656565;
	-o-box-shadow: 1px 2px 10px 3px #656565;
	box-shadow: 1px 2px 10px 3px #656565;
}

.panel-body {
	height: auto;
}

@keyframes backgroundLight {
	from {
		background: linear-gradient(0deg, rgba(32, 32, 32, 0), rgba(32, 32, 32, 0)), url('../img/bg.png');
	}
	10% {
		background: linear-gradient(0deg, rgba(32, 32, 32, 0.1), rgba(32, 32, 32, 0.1)), url('../img/bg.png');
	}
	20% {
		background: linear-gradient(0deg, rgba(32, 32, 32, 0.2), rgba(32, 32, 32, 0.2)), url('../img/bg.png');
	}

	30% {
		background: linear-gradient(0deg, rgba(32, 32, 32, 0.3), rgba(32, 32, 32, 0.3)), url('../img/bg.png');
	}

	40% {
		background: linear-gradient(0deg, rgba(32, 32, 32, 0.4), rgba(32, 32, 32, 0.4)), url('../img/bg.png');
	}

	50% {
		background: linear-gradient(0deg, rgba(32, 32, 32, 0.5), rgba(32, 32, 32, 0.5)), url('../img/bg.png');
	}
	60% {
		background: linear-gradient(0deg, rgba(32, 32, 32, 0.6), rgba(32, 32, 32, 0.6)), url('../img/bg.png');
	}

	70% {
		background: linear-gradient(0deg, rgba(32, 32, 32, 0.7), rgba(32, 32, 32, 0.7)), url('../img/bg.png');
	}

	80% {
		background: linear-gradient(0deg, rgba(32, 32, 32, 0.8), rgba(32, 32, 32, 0.8)), url('../img/bg.png');
	}
	90% {
		background: linear-gradient(0deg, rgba(32, 32, 32, 0.9), rgba(32, 32, 32, 0.9)), url('../img/bg.png');
	}
	to {
		background: linear-gradient(0deg, rgba(32, 32, 32, 1), rgba(32, 32, 32, 1)), url('../img/bg.png');
	}
}

/****************************************/

/***************** HOME *****************/

/****************************************/

#home {
	padding: 4% 1% 2% 1%;
	height: 100vh;
}

#home > .col-xs-1 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.green-arrow {
	background-color: rgba(0, 0, 0, 0);
	color: #85CBF8;
	font-size: 4em;
	transition: color 0.8s;
	border: none;
	height: auto;
	z-index: 100;
}

.green-arrow:focus {
	outline: inherit;
}

#forth-button {
	position: relative;
	right: 1vw;
}

#scrolldown-to-map {
	position: absolute;
	bottom: 5px;
	transition: opacity 2s;
	right: 4vw;
}

#scrollup-to-home {
	position: absolute;
	left: 3vw;
	top: 65px;
	opacity: 1;
	transition: opacity 2s;
}

#scrolldown-to-form {
	position: absolute;
	right: 12vw;
	bottom: 5px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 2s;
}

#slideshow {
	height: 100%;
}

#slide-title {
	font-family: 'Lobster', cursive;
	height: 18%;
	margin: 0;
	font-size: 4em;
	z-index: 99;
	transition: all 2s;
}

#slide-title:hover {
	text-shadow: 0 0 rgba(255, 255, 255, 0), -45px -45px 0 red, -30px -30px 0 orange, -15px -15px 0 yellow, 0 0 0 green, 15px 15px 0 blue, 30px 30px 0 indigo, 45px 45px 0 violet;
	transition: all 2s;
	color: green;
}

#slide-content {
	height: 60%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#slide-description {
	font-family: 'Damion', cursive;
	height: 22%;
	font-size: 2.5em;
	color: #f0ebdc;
	z-index: 98;
}



/****************************************/

/**************** BOOKING ***************/

/****************************************/

#booking {
	overflow: hidden;
	background: linear-gradient(0deg, rgba(32, 32, 32, 0.8), rgba(32, 32, 32, 0.8)), url('../img/bg.png');
}



#map {
	overflow: hidden;
	height: 100%;
}

#map-container {
	height: 100vh;
	box-shadow: none;
}



#map-container .panel-body {
	padding: 0;
}

#form {
	padding: 0;
	position: initial;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#infos-station .panel-body {
	background-color: #ffedc1;
	font-weight: 700;
	color: black;

}

form .panel-body {
	padding-bottom: 74px;
	background-color: #85CBF8
}

#info-windows-wrapper {
	display: none;
}

#scrollup-to-map {
	opacity: 0;
	pointer-events: none;
	transition: opacity 2s;
	z-index: 9;
	position: relative;
	top: -15px;
	left: -15px;
}

#datas {
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: inherit;
}

span.control-label {
	opacity: 0;
	font-size: 8pt;
}

.has-error > canvas {
	border-color: #a94442;
}

.has-success > canvas {
	border-color: #3c763d;
}

canvas {
	border: 1px solid #ccc;
	border-radius: 4px;
	z-index: 96;
	color: black;
	background-color: white;
}

.mb-3 {
	margin-bottom: 0;
}

form .panel-body {
	font-size: 0.8em;
	background-color:
}

#biker {
	height: 30%;
	background-image: url(../img/biker-nobg.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	bottom: 60px;
	right: -120px;
	pointer-events: none;
}

#registered {
	display: none;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 33.33%;
	max-height: 120px;

	color: crimson;
	z-index: 99;
	background-color: rgba(255, 255, 255, 0.5);
	-webkit-transition-property: background-color;
	transition-property: background-color;
	-webkit-transition-duration: 1s;
	transition-duration: 1s
}

#registered .panel-body {
	font-weight: 700;
	text-align: center;
	vertical-align: middle;

}

#registered:hover {
	background-color: rgba(255, 255, 255, 1);
	-webkit-transition-property: background-color;
	transition-property: background-color;
	-webkit-transition-duration: 1s;
	transition-duration: 1s
}



/****************************************/

/************* SM W < 840px *************/

/****************************************/

@media screen and (max-width: 840px) {
	#home-content {
		padding: 0;
	}

	#slide-description {
		font-size: 1.5em;
	}
	#slide-title {
		font-size: 2em;
	}
	#slide-content {
		height: 55%;
	}
	#form,
		{
		height: auto;
	}

}


/****************************************/

/********* Screen Width < 768px *********/

/****************************************/

@media screen and (max-width: 768px) {
	.container-fluid {
		/*height: auto;*/
	}

	#scrolldown-to-form {
		opacity: 1;
		pointer-events: auto;
	}
	#scrollup-to-map {
		opacity: 1;
		pointer-events: auto;
	}
	#registered {
		width: 100%;
		overflow: visible;
	}

	#form {
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		overflow: hidden;
	}
	#infos-station {
		height: auto;
	}
	#form > form {
		height: auto;
	}
}

/****************************************/

/******** Screen Height < 588px *********/

/****************************************/

@media screen and (max-height: 588px) {
	#datas {
		font-size: 0.9em;
	}
	#datas > p {
		margin-bottom: 5px;
	}

}
